/*
    ADG styles to be added to select2 items.

    There are 5 main components that select2 uses.
    # select2-container - the top-level container that wraps the original <input> element
    ## select2-choice - the <a> the user clicks on to trigger the dropdown, shows the selected item
    # select2-drop - the top-level container directly in the <body> that displays the dropdown
    ## select2-search - the search box in the dropdown
    ## select2-results - the list of results in the dropdown, including groups

    Overrides in this CSS file should start with:
    # .aui-select2-container - in auiSelect2 JS we add this class to the top container
    # .aui-select2-drop - in auiSelect2 JS we add this class to the dropdown container

    By sticking to these two selector elements we won't accidentally break other code that uses select2. If they want
    sexy ADG styles they can call auiSelect2() instead of select2().
    Please don't add application-specific styles/rules in here, as these styles will eventually be pulled into AUI.
*/

.aui-select2-drop .select2-search input {
    min-height: 0;
    font-family: inherit;
}

.aui-select2-drop .select2-result-selectable .select2-match,
.aui-select2-drop .select2-result-unselectable .select2-match {
    text-decoration: none;
    font-weight: bold;
}

.aui-select2-drop .select2-results ul.select2-result-sub {
    padding: 0;
}

.aui-select2-drop.aui-dropdown2 .select2-search {
    padding: 5px;
}

.aui-select2-drop {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    z-index: 9999; /* re-instated style from core select2 style */
}

.aui-select2-drop .select2-result-unselectable > .select2-result-label {
    text-transform: uppercase;
    font-size: 12px;
    color: #707070;
    padding: 5px 10px 0;
}

.aui-select2-drop .select2-results ul.select2-result-sub > li .select2-result-label,
.aui-select2-drop .select2-results .select2-result-label,
.aui-select2-drop .select2-results .select2-searching,
.aui-select2-drop .select2-results .select2-no-results,
.aui-select2-drop .select2-results .select2-more-results{
    padding: 2px 10px;
    line-height: 26px;
}

.aui-select2-drop .select2-result-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.aui-select2-drop .select2-results {
    margin: 0;
    padding: 0;
}

.aui-select2-drop .select2-more-results,
.aui-select2-drop .select2-searching,
.aui-select2-drop .select2-no-results {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
}

.aui-select2-drop .select2-search input,
.aui-select2-drop {
    border: 1px solid #ccc; /* make border color consistent with AUI button border color */
}

.aui-select2-drop .select2-search input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.aui-select2-container.select2-container .select2-choice,
.aui-select2-drop {
    color: inherit;
}

.aui-select2-drop .select2-results ul.select2-result-sub {
    margin: 2px 0;
}

.aui-select2-drop .select2-result-sub .select2-result-unselectable > .select2-result-label {
    text-transform: none;
    font-size: inherit;
    margin-top: 5px;
}

.aui-select2-drop.aui-dropdown2.aui-style-default {
    margin-left: 0;
}

.aui-select2-drop .select2-results .select2-highlighted {
    background-color: #3b73af;
}

.aui-select2-container.select2-container .select2-choice > span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.aui-select2-container.select2-container .select2-choice .select2-arrow {
    background: none;
    border: none;
    filter: none;
}

.aui-select2-container.select2-container-active .select2-choice,
.aui-select2-container.select2-container-active .select2-choices {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.aui-select2-container.select2-container .select2-choice .select2-arrow b {
    display: none;
    background: none;
}


.aui-select2-container.select2-container .select2-choice {
    padding-right: 23px; /* 8px (arrow width) + 10px (right padding) + 5px (margin between arrow and logo) */
    position: relative;
    width: inherit;
}

.aui-select2-container.select2-container a.select2-choice,
.aui-select2-container.select2-container a.select2-choice:focus,
.aui-select2-container.select2-container a.select2-choice:hover,
.aui-select2-container.select2-container a.select2-choice:active {
    text-decoration: none;
}

.aui-select2-container.select2-container .select2-choice:after {
    border: 4px solid transparent;
    content: "";
    height: 0;
    left: 100%; /* "left" + "margin-left" required because of webkit not working properly with "right" */
    margin-left: -18px;
    margin-top: -2px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    width: 0;
}

.aui-select2-container.select2-container .select2-choice:after {
    border-top-color: #333;
}

.aui-select2-container.select2-container .select2-choice:hover:after,
.aui-select2-container.select2-container .select2-choice.active:after {
    opacity: 1;
}

.aui-select2-container.select2-container .select2-choice:after {
    margin-top: 0;
    top: 12px;
}

/* Set the default text color to inherit.
   NOTE: this class is only marked as !important because Select2 marks the same
   selector as !important in it's styles. */
.aui-select2-container .select2-input {
    color: inherit !important;
}

/* Since select2 uses the placeholder text as the value of the input,
  the following style is used to override text color to mach ADG placeholder.
  Select2 gives the input a class of select2-default when the value represents the placeholder value.
  NOTE: this class is only marked as !important because Select2 marks the same
  selector as !important in its styles. */
.aui-select2-container .select2-input.select2-default {
    color: #707070 !important;
    background-color: yellow;
}

.aui-select2-container .select2-choices .select2-search-field input {
    padding: 0;
}

.aui-select2-container .select2-choices {
    padding: 0;
}

.aui-select2-container.select2-container-multi .select2-choices {
    min-height: 0;
    border: none;
    background: none;
}

.aui-select2-container.select2-container-multi.text {
    height: auto;
}

.aui-select2-container .select2-choices .select2-search-choice {
    padding: 1px 18px 1px 5px;
    margin: 2px;
    position: relative;

    line-height: 1.5;
    color: #333;
    cursor: default;

    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-decoration: none;

    border: 1px solid #ccc;
    border-radius: 3.01px; /* 3.01 for IE10 */

    background: #f5f5f5;
}

.aui-select2-container  .select2-search-choice-close {
    right: 3px;
    left: auto;
}

.aui-select2-container.select2-dropdown-open .select2-choice {
    /* square off bottom corners */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-width: 0; /* avoid double border when the dropdown is active - increase padding to cater for this reduction */
    padding-bottom: 5px; /* increase the padding to cater for the lack of border so the button doesn't change size */

    /* the "select2-dropdown-open" class is semantically equivalent to AUI's "active" class - copy "active" styles to "select2-dropdown-open" */
    background: #F2F2F2 none;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .1);
    text-shadow: none;
}

/* In order to beat out select2's overrides, the aui-button style had to be copied in below.
   Unfortunately, any changes to that style will have to be copied here as well to keep the select2
   element consistent.*/
.aui-select2-container.select2-container .select2-choice,
.aui-select2-container.select2-container a.select2-choice,
.aui-select2-container.select2-container .select2-choice:visited {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* IE10+ */
    background: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Opera 11.10+ */
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%); /* W3C */
    border: 1px solid #ccc;
    border-radius: 3.01px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    height: 2.1428571428571em; /* 30px - using ems so the fields increase in line with user specified font-sizes */
    line-height: 1.4285714285714;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: baseline;
    white-space: nowrap;
}

.aui-select2-container.select2-container .select2-choice abbr {
    display: none;
}

/* Multiselect specific overides */
.aui-select2-container.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
    top: 2px;
}

.aui-select2-container.select2-container-multi.select2-container-active .select2-choices {
    box-shadow: none;
}

.aui-select2-container.select2-container-multi .select2-choices  .aui-avatar {
    display: inline-block;
    margin-right: 5px;
}
