<form class="aui top-label">
    <h2>Full width fields</h2>
    <div class="field-group">
        <label>Text</label>
        <input type="text" class="text full-width-field">
    </div>
    <div class="field-group">
        <label>Password</label>
        <input type="password" class="password full-width-field">
    </div>
    <div class="field-group">
        <label for="textarea">Textarea</label>
        <textarea class="textarea full-width-field"></textarea>
    </div>
    <div class="field-group">
        <label>Select (single)</label>
        <select class="select full-width-field">
            <option>Choose an animal</option>
            <option selected>Grasshopper</option>
            <option>Spider</option>
            <optgroup label="Mammals">
                <option>Bear</option>
                <option>Dog</option>
                <option>Horse</option>
            </optgroup>
            <optgroup label="Fish">
                <option>Salmon</option>
                <option>Barramundi</option>
                <option>Trout</option>
                <option>Perch</option>
            </optgroup>
        </select>
    </div>
    <div class="field-group">
        <label>Select (single+size)</label>
        <select size="6" class="select full-width-field">
            <option>Choose an animal</option>
            <option selected>Grasshopper</option>
            <option>Spider</option>
            <optgroup label="Mammals">
                <option>Bear</option>
                <option>Dog</option>
                <option>Horse</option>
            </optgroup>
            <optgroup label="Fish">
                <option>Salmon</option>
                <option>Barramundi</option>
                <option>Trout</option>
                <option>Perch</option>
            </optgroup>
        </select>
    </div>
    <div class="field-group">
        <label>Select (multi+size)</label>
        <select multiple size="6" class="multi-select full-width-field">
            <option>Choose an animal</option>
            <option selected>Grasshopper</option>
            <option selected>Spider</option>
            <optgroup label="Mammals">
                <option selected>Bear</option>
                <option>Dog</option>
                <option>Horse</option>
            </optgroup>
            <optgroup label="Fish">
                <option>Salmon</option>
                <option>Barramundi</option>
                <option>Trout</option>
                <option>Perch</option>
            </optgroup>
        </select>
    </div>
</form>